/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Genral styles */
body {
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #77825c;
}

header {
    background-color: #77825c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hidden-heading {
    display: none;
}

/* Hero Image */
#hero {
    height: 700px;
    width: 100%;
    background: url("../images/heroImage.webp") no-repeat center center/cover;
}

/* logo */
#logo {
    height 60px;
    width: auto;
    float: center;
}

/* navigation */
nav {
    display: flex;
    align-items: flex-end;
}

nav a {
    text-decoration: none;
    color: #f0ead8;
    margin-left: 20px; 
}

/* Main content */
.intro {
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 40px
}

.intro > p {
    margin-bottom: 20px;
    white-space: pre-line;
}

.overview {
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}